[Unit]
Description=Minecraft proxy that automatically starts an EC2 server when a connection is made
After=network.target

[Service]
ExecStart=<path-to-node> <path-goes-here>/src/index.js
User=<user-goes-here>
Group=<group-goes-here>
Restart=always
WorkingDirectory=<path-goes-here>
Environment=DBGLEVEL=log

[Install]
WantedBy=multi-user.target