name: Integration test
on: [push, pull_request]

jobs:
    test:
        name: Run test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2
            - name: Install dependencies
              run: yarn
            - name: Run Jest
              run: yarn test
